body {
    font-family: 'Georgia', serif;
    background-color: #f4f4f9;
    text-align: center;
    padding: 20px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;

    background-image: url(./images/wall.jpeg);
    background-size: cover;

    overflow-x: hidden;
}

#app {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
    width: 90%;
    max-width: 1200px;
}

.data {
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

#hidden{
    position: absolute;
    z-index: -1;
}

#game {
    padding: 20px;
    border-radius: 10px;
    position: relative;
}

#parchment-game, #parchment-family, #parchment-court {
    position: absolute;
    display: flex;
      width: 75%;
    margin: 2em 0;
    top: 0%; 
    box-shadow: 2px 3px 20px black, 0 0 125px #8f5922 inset;
    background: #fffef0;
    /* v2.1 : borders effect with SVG : try to play with scale to change them */
    filter: url(#wavy2);
    /* v2.2 : Noise added for a vellum paper effect */
    background-image: url(./images/textures/cloud.png);
}

#parchment-game{
    left: 50%; transform: translate(-50%, 0);
}

#parchment-court{
    left: 72%;
}
  
/* v2.3 : folds added , remove this part if you don't want them
    I'll try to make it look like crumpled paper if I have time. */
#parchment-game:after, #parchment-family:after, #parchment-court:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: conic-gradient(#fff3, #fff0 2% 24%, #fff2 25%, #4321 0, #0000 27% 48%, #9632 50%, #fff2 0, #fff0 52% 73%, #9632 75%, #fff3 0, #fff0 78% 97%, #9632);
}

.panel{
    display: flex;
    width: 100%;
    top: 50%;
    transform: translate(0, -50%);
    justify-content: space-between;
    position: absolute;
    z-index: 2;
    font-family: 'Sedan';
}

#offcanvasBtnLeft{
    rotate: 90deg;
    transform: translate(0,100%);
    background-color: #8a6e2f;
    border: none;
}
#offcanvasBtnRight{
    rotate: -90deg;
    transform: translate(0,100%);
    background-color: #8a6e2f;
    border: none;
}

h1, h2, h3{
    font-family: 'Sedan';
    color: #333;
}

#stats, #events, #dynasty, #character {
    margin: 40px 0;
}
#dynasty{
    margin-bottom: 20px;
}

#stats{
    display: flex;
    justify-content: center;
    position: relative;
    margin-block-start: 0;
    padding-inline-start: 0;
    width: 100%;
}
#stats li, #dynasty-list li{
    display: flex;
    align-items: center;
}

#dynasty-list li{
    justify-content: center;
}
#help-icons{
    list-style: none;
    padding-left: 0;
}
#help-icons li, #help-competences li{
    text-align: left;
    margin: 0.5rem 0;
}
#help-icons li p, #help-competences li p{
    margin-left: 2rem;
}
#stats li img, #dynasty-list li img, #help-icons li img{
    width: 20px;
    padding: 0 5px;
}

#decision-buttons {
    margin-top: 10px;
}

#decision-buttons button {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    cursor: pointer;
    background-color: #795649;
    color: #f4e5c3;
    border: none;
    box-shadow: 2px 2px 0px #a67c52;
    border: 2px solid #c0a080;
    border-radius: 5px;
    font-size: 1em;
    text-shadow: 1px 1px 0px #a67c52;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#decision-buttons button:hover {
    background-color: #8a6e2f; /* A lighter, worn wood color for hover */
    box-shadow: 1px 1px 5px 0px rgba(0, 0, 0, 0.3); 
    transform: scale(1.05);
}

#decision-buttons button:active {
    box-shadow: inset 1px 1px 2px 0px rgba(0, 0, 0, 0.5); /* An inset shadow for a pressed effect */
    transform: translateY(2px); /* Moves the button down to simulate a press */
}

button:not(.accordion-button) {
    margin: 10px 0;
    padding: 10px 20px;
    border: none;
    background: #007BFF;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
}

button:not(.accordion-button):hover {
    background: #0056b3;
    transform: scale(1.05);
}

#stats p, #character p {
    font-size: 1.2em;
    margin: 5px 0;
}

#character-name {
    font-weight: bold;
}

#events p {
    font-size: 1.1em;
    margin: 15px 0;
    font-style: italic;
}

#dynasty h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

#dynasty ul, #children-list {
    list-style: none;
    padding: 0;
}

#dynasty-list li {
    margin-bottom: 5px;
    padding: 5px;
    border-radius: 4px;
}

#skills {
    margin-top: 10px;
}

#skills p {
    font-size: 1.1em;
    margin: 5px 0;
}

.stone {
	background: #eae6ed;
	box-shadow: inset -3px -3px 8px #778, inset 4px 6px 6px #fffffc, 5px 7px 17px hsla(0, 0%, 0%, 0.25);
	display: flex;
	background-image: url(./images/textures/stone.png);
}

.content {
	margin: auto;
}
.grave {
	letter-spacing: 2px;
	background-color: #68646d;
	color: transparent;
	-webkit-background-clip: text;
	 -moz-background-clip: text;
		  background-clip: text;
	text-shadow: 1px 1px 1px hsla(0,0%,255%,0.5);
}


/* BS5 */
.offcanvas{
    background-color:#8a6e2f;
    color: #fff;
}

.accordion{
    --bs-accordion-bg : #8a6e2f
}
.accordion-button, .accordion-item{
    color: #fff;
}
.accordion-button:not(.collapsed) {
    color: #f4e5c3;
    background-color: #795649;
    box-shadow: inset 0 calc(-1* var(--bs-accordion-border-width)) 0 var(--bs-accordion-border-color);
}
.accordion-button:focus {
    z-index: 3;
    outline: 0;
    box-shadow: 0 0 0 0.25rem rgba(121, 86, 73, 0.288);
}
.offcanvas-header button:not(.accordion-button){
    background: transparent var(--bs-btn-close-bg) center / 1em auto no-repeat;
}
.btn-close{
    --bs-btn-close-bg: url(./images/bootstrap_icons/x.svg);
    font-size: 1.5em;
    --bs-btn-close-color: #fff;
}