body {
    font-family: 'Georgia', serif;
    background-color: #f4f4f9;
    text-align: center;
    padding: 20px;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #333;
}

#app {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    gap: 20px;
    width: 90%;
    max-width: 1200px;
}

.data {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

#game {
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1, h2, h3{
    font-family: 'Sedan';
    color: #333;
}

#stats, #events, #dynasty, #character {
    margin: 40px 0;
}

#stats{
    display: flex;
    justify-content: center;
    position: relative;
    margin-block-start: 0;
    padding-inline-start: 0;
    width: 100%;
}
#stats li{
    display: flex;
    align-items: center;
}

#stats li img{
    width: 20px;
    padding: 0 5px;
}

#decision-buttons {
    margin-top: 10px;
}

#decision-buttons button {
    display: block;
    margin-bottom: 10px;
    width: 100%;
    cursor: pointer;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s ease, transform 0.3s ease;
}

#decision-buttons button:hover {
    background-color: #0056b3;
    transform: scale(1.05);
}

button {
    margin: 10px 0;
    padding: 10px 20px;
    border: none;
    background: #007BFF;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s ease, transform 0.3s ease;
}

button:hover {
    background: #0056b3;
    transform: scale(1.05);
}

#stats p, #character p {
    font-size: 1.2em;
    margin: 5px 0;
}

#character-name {
    font-weight: bold;
}

#events p {
    font-size: 1.1em;
    margin: 15px 0;
    font-style: italic;
}

#dynasty h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

#dynasty ul, #children-list {
    list-style: none;
    padding: 0;
}

#dynasty-list li {
    margin-bottom: 5px;
    padding: 5px;
    background-color: #f0f0f0;
    border-radius: 4px;
}

#skills {
    margin-top: 10px;
}

#skills p {
    font-size: 1.1em;
    margin: 5px 0;
}
